:root {
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
  --white: #fff;

  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--slate-300);
  font-size: 15px;
}

main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-code-component {
  background-color: var(--white);
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  border-radius: 20px;
  padding: var(--spacing-200) var(--spacing-200) var(--spacing-500);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

.qr-code {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.info {
  width: 288px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px var(--spacing-200);
  gap: var(--spacing-200);
}

.info-heading {
  text-align: center;
  color: var(--slate-900);
  font-family: "Outfit";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.info-paragraph {
  text-align: center;
  color: var(--slate-500);
  font-family: "Outfit";
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
}
